extends _layout.pug

block locals
  - let title = "Hello Webpack Practice!"

block content
    h1 Hello Pug!!!!
    div#react-root
    //- div要素は書かなくてもいい
    .main-image
      img.icon(src="../images/icon.png")